.contacts {
  background-repeat: no-repeat;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 61.13%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/contacts.jpg");
  background-size: cover;
 min-height: 904px;

  &__title {
    padding-top: 120px;
    color: #fff;
    margin-bottom: 120px;
  }

  &-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-inner__follow {
    text-align: center;
  }

  &__follow-title {
    font-family: "Bodoni 72";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
  }

  .contacts__social-item + &__social-item {
    margin-left: 20px;
  }

  &__numbers {
    background-image: url("../../img/Mask\ group-left.png");
    margin-bottom: 40px;
    width: 357px;
    height: 313px;
  }

  &__numbers-body {
    padding: 60px 20px;
    text-align: center;
  }

  &__number-title {
    font-family: "Bodoni 72";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 35px;
  }

  &__number-link--one {
    margin-bottom: 15px;
    display: block;
  }

  &__number-link {
    font-family: "Bodoni 72";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
  }

  &-follow__list {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__list-item + .contacts__list-item {
    margin-left: 37px;
  }

  &-follow__list li {
    font-family: "Bodoni 72";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
  }

  &-inner__request {
    text-align: center;
  }

  &__request-title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 35px;
  }

  &__request-btn {
    background-color: transparent;
    border: none;
    margin-bottom: 55px;
  }

  &__request-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 5px;
  }

  &__request-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: #ffffff;
  }
}


@media (max-width: 768px) {
  .contacts {
    &__title {
      margin-bottom: 43px;
    }
    &-inner {
      justify-content: center;
      gap: 50px;
      margin-bottom: 150px;
    }
    &__request-title {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 35px;
    }
    &__request-btn {
      background-color: transparent;
      border: none;
      margin-bottom: 30px;
    }

    &__request-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
    }
    
    &-follow__list {
       margin-left: auto;
    }
  }
  .footer-social{
    position: relative;
  }
  .contacts-follow-wrap__list{
    position: absolute;
    right: -326px;
  }
}
