.find {
  padding-bottom: 121px;

  &__title {
    padding-top: 185px;
    margin-bottom: 90px;
    position: relative;



    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/about-line.png");
      height: 736px;
      width: 853px;
      top: -152px;
      right: -80px;
      z-index: -1;
    }

  }

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "A B"
      "C C";
    // height: 1500px;



  }


  &__item-text {
    font-family: 'Bodoni 72';
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #000000;
    font-size: 19px;
    line-height: 23px;

  }

  &__item-span {
    font-family: 'Bodoni 72';

    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
  }

  &__item-text:nth-child(1) {
    margin-bottom: 73px;
  }

  &__item-text:nth-child(2) {
    margin-bottom: 80px;
    padding-top: 60px;
  }

  &__item-text:nth-child(3) {
    padding-top: 60px;
  }
}

.find-wrapper__content {
  &:nth-child(1) {
    grid-area: A;
    max-width: 569px;
  }

  &:nth-child(2) {
    grid-area: B;
    width: 825px;
  }

  &:nth-child(3) {
    grid-area: C;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 314px;

    .find__item-text {
      align-items: flex-end;
      width: 555px;
      margin-right: 20px;

    }

    img {
      max-width: 825px;
      height: 514px;
    }
  }
}


@media(max-width:768px) {
  .find {
    &__title {
      margin-bottom: 75px;

      &::after {
        position: absolute;
        background-image: url("../img/mobile/about-line.png");
        height: 470px;
        width: 420px;
        top: 15px;
        right: 0px;
      }
    }

    &-wrapper {
      display: block;

    }
  }

  .find-wrapper__content {
    max-width: 100%;

    &:nth-child(1) {
      display: flex;
      flex-direction: column-reverse;
      max-width: 100%;
    }

    &:nth-child(2) {
      width: auto;
    }

    &:nth-child(3) {
      flex-direction: column-reverse;
      align-items: start;
      height: auto;
      max-width: 100%;
      img {
        height: auto;
        max-width: 100%;
        margin-bottom: 35px;
      }
    }
  }
}

@media(max-width:430px) {
  .find {
    &-container {
      padding: 0;
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 35px;
      font-size: 29px;
      line-height: 36px;


      &::after {

        background-image: url("../../img/mobile/find-after.png");
        height: 250px;
        width: 230px;
        top: 120px;
        right: 10px;
      }
    }
  }
}

@media(max-width: 768px) {
  .find__item-text--reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .find__flowers {
    margin-bottom: 35px;
  }
}