.mt120{
  margin-top: 120px;
}

.header{
  transition: 0.3s;
}
.header-content{
  min-height: 837px;
  position: relative;
  @media (max-width: (1200px)) {
    min-height: 569px;
  }

  @media (max-width: (760px)) {
    min-height: 353px;
  }
}
.slider-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .swiper-slide  img{
    height: 837px;
    @media (max-width: (1200px)) {
      height: 569px;
    }
    @media (max-width: (760px)) {
      height: 353px;
    }
    width: 100%;
    object-position: bottom;
  }

  .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0,0,0) translateY(-68px);
    @media (max-width: (1200px)) {
      transform: translate3d(0, 0, 0) translateY(-27px);
    }
    @media (max-width: (760px)) {
      transform: translate3d(0, 0, 0) translateY(-11px);
    }

  }
}

.header-container{
  position: relative;
  z-index: 1;
  min-height: 837px;
  @media (max-width: (1200px)) {
    min-height: 569px;
  }
    @media (max-width: (760px)) {
    min-height: 353px;
  }

}
.header-container,
.header-content-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container{
  justify-content: flex-start;
  padding-top: 75px;
  @media (max-width: (760px)) {
    padding-top: 35px;
  }
}
.header__img{
  margin-left: auto;
  @media (max-width: (1200px)) {
    width: 209px;
    height:  76px;
  }
  @media (max-width: (760px)) {
    width: 186px;
    height: 68px;
    margin: 0 auto;
  }
}

.slider-navigation{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 2;
}

.swiper-pagination{
  .swiper-pagination-bullet {
    width: 36px;
    height: 30px;
    background-image: url("../img/swiper-pagination-icon.png");
    background-size: cover;
    background-color: transparent;
    opacity: 1;
    margin: 0 4px !important;
    cursor: pointer;
    @media (max-width: (1200px)) {
      width: 25px;
      height: 20px;
    }
    @media (max-width: (760px)) {
      width: 18px;
      height: 14px;
    }
  }
  .swiper-pagination-bullet-active{
    width: 62px;
    height: 52px;
    @media (max-width: (1200px)) {
      width: 43px;
      height: 36px;
    }
    @media (max-width: (760px)) {
      width: 31px;
      height: 25px;
    }
  }
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  margin-right: auto;
  transform: translateX(-17px);
  @media (max-width: (1200px)) {
    margin-bottom: 107px;
    img{
      width: 388px;
      height: 204px;
    }
  }
  @media (max-width: (760px)) {
    margin-bottom: 60px;
    img{
      width: 212px;
      height: 111px;
    }
  }
}
.header-content-inner{
  margin-bottom: 114px;
  min-width: 898px;
  @media (max-width: (1200px)) {
    min-width: 480px;
  }
  @media (max-width: (760px)) {
    margin-bottom: 0;
    min-width: 262px;
  }

}





.swiper-button-next,
.swiper-button-prev{
  width: 135px;
  @media (max-width: (760px)) {
    display: none;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 136px;
    @media (max-width: (1200px)) {
      width: 93px;
      height: 94px;
    }

  }
  &::after{
    display: none;
  }
}
.swiper-button-prev{
  img{
    transform: translate(-38%, -88%);
  }
}
.swiper-button-next{
  img{
    transform: translate(-61%, -88%);
  }
}

@media(max-width:768px){

}
