.key {
  position: relative;
  
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    position: absolute;
    background-color:  #000;
    top: 74px;
  }
  &-border {
    border: 1px solid #000000;
    border-bottom: none;
    
  }

  .container {
    @media (max-width: (650px)) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__title {
    padding-top: 13px;
    
  

    @media (max-width: (768px)) {
      padding-top: 15px;
      padding-bottom: 11px;
    }

    @media (max-width: (650px)) {
      font-size: 29px;
      padding-top: 10px;
      padding-bottom: 6px;
    }

  }

  &__description {
    text-align: center;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    padding: 35px 0;
    color: #000000;

    @media (max-width: (768px)) {
      padding: 33px 0 45px;
      max-width: 560px;
      margin: 0 auto;
      line-height: 1.15;

    }

    @media (max-width: (650px)) {
      font-size: 14px;
      max-width: 264px;
      line-height: 1.3;
      padding: 21px 0 22px;
    }

    @media (max-width: (350px)) {
      padding-bottom: 29px;
    }
  }

  &__description-span {
    font-family: 'Bodoni 72';
    font-style: italic;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }

  &-wrapper {
    background-image: url("../img/key.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 802px;
    margin-bottom: 50px;
    padding-top: 200px;

    @media (max-width: (768px)) {
      margin-right: -26px;
      margin-left: -26px;
      padding-top: 120px;
      height: 582px;
      margin-bottom: 45px;
      background-position: center;
    }

    @media (max-width: (650px)) {
      padding-top: 42px;
      min-height: 265px;
      height: auto;
      padding-bottom: 42px;
      margin-bottom: 34px;
      background-position: 0px -20px;
    }

    @media (max-width: (350px)) {
      background-position: center;
      background-position-y: -5px;
      min-height: 271px;
      margin-bottom: 28px;
    }

  }

  .wr-key__img-two {
    @media (max-width: (768px)) {
      margin: 0 -26px;
    }

  }

  &__info {
    padding: 50px 85px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2.5px);
    // text-align: center;
    margin: 0 auto;
    max-width: 830px;

    @media (max-width: (768px)) {
      max-width: 602px;
      padding: 38px 40px 25px;

      p {
        line-height: 1.225;
      }
    }

    @media (max-width: (650px)) {
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(2.5px);
      padding: 20px;

      padding-right: 33px;
      padding-left: 33px;
    }
  }

  &__info-caption {
    font-family: "Bodoni 72";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    max-width: 660px;

    @media (max-width: (650px)) {
      font-size: 14px;
    }
  }

  &__img-two {
    padding-bottom: 50px;
    border-bottom: 1px solid #000;

    @media (max-width: (768px)) {
      display: block;
      padding-bottom: 0;
    }

    @media (max-width: (650px)) {
      padding-bottom: 15px;
    }

    @media (max-width: (350px)) {
      padding-bottom: 9px;
    }

  }

  @media (max-width: (768px)) {
    padding-bottom: 45px;
  }
}