.servises__title {
  margin-bottom: 73px;
}
.servises__galery-title{
  padding-top: 120px;
  line-height: 1.24;
  @media(max-width: 750px) {
    padding-top: 0;
    font-size: 30px;
    margin-bottom: 33px;
  }
}
.servises {
  margin-bottom: 114px;
  @media(max-width: 750px) {
    margin-bottom: 78px;
  }
}

.servises__wrapper {
  display: flex;
  justify-content: space-between;
}

.servises__wrapper-galery {
 padding-bottom: 120px;

  @media(max-width: 1350px) {
    //margin: 0 -50%;
    justify-content: center;
    column-gap: 40px;
  }

  @media(max-width: 750px) {
    flex-direction: column;
    margin: 0;
    align-items: center;
    padding-bottom: 0;
    border-bottom: 0 solid #000;
    gap: 37px;
  }

}


.servises-container{
  @media(max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.servises__img {
  position: relative;
  max-height: 536px;
  overflow: hidden;

  @media(max-width: 1350px) {
    //max-height: 400px;
    max-width: 425px;
    width: 100%;
    max-height: 464px;
  }
  @media(max-width: 750px) {
    max-height: 404px;
    margin-bottom: 0;
  }


  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 224px;
    height: 120px;

    z-index: 1;
  }
}


.servises__h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 70px;
  letter-spacing: 0.06em;
  position: relative;
  color: #000;
  line-height: 1.2;
  @media(max-width: 1350px) {
    font-size: 30px;
  }
  @media(max-width: 750px) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0%;
    transition: width .3s ease-in-out;

  }


}

.servises__item {
  max-width: 425px;
  width: 100%;
  min-height: 536px;

  @media(max-width: 750px) {
    min-height: inherit;
  }

  &:hover {
    .servises__img {
      &::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(photo1661248207.jpg);
        filter: blur(2px);
      }
      &::before{
        background-image: url(../img/servis-card1decor.webp);
      }

    }

    .servises__h3::before {
      width: 100%;
    }
  }

}

@media(max-width:769px) {
  .servises {
    &-container {
      padding: 0;
    }

    &__title {
      font-size: 45px;
      line-height: 56px;
      letter-spacing: 0.12em;
     // margin-bottom: 30px;
    }
  &__img{
    width: 425px;
    height: 536px;
  }
    &__h3 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 70px;
    }

    &__wrapper {
      display: flex;
      overflow-y: hidden;
      flex-direction: column;
      align-items: center;
      gap: 37px;
    }

    &__item+.servises__item {
      margin-bottom: 0;
    }
  }
}

@media(max-width:390px) {
  .servises {
    margin-bottom: 75px;
    &-container {
      padding: 0;
    }

    &__title {
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.12em;
      margin-bottom: 30px;
    }

    &__h3 {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 30px;
    }

    &__wrapper {
      display: block;
    }

    &__item+.servises__item {
      margin-bottom: 35px;
    }
  }
}
