<section class="about about__section" id="about">

  <img src="img/111111.webp" alt="" style="position: absolute; opacity: 0;">
  <div class="container">

    <div class="about-inner">

      <div class="about__block-text">
        <div class="about__block-header">
          <h2 class="title about__title">About Us</h2>
          <h3 class="about__descr">Hello, <br>
            we are Anna and Alisa </h3>
        </div>


          <p > the creators of  <i>Twoointeriors</i>
            design <br> studio. <br>
            Laconic, deeply connected to nature, live,<br> minimalist spaces  -<br>
             a focal point of our live design philosophy.
            We fill our interiors with custom furniture <br> and details, and also implement with an art.</p>

            <p>Our studio is based in Ukraine but we also work with projects worldwide and we’ll be happy to expand our geography.</p>
      </div>

      <div class="about__block-img">
        <img src="img/about-bg.webp" alt="">
      </div>



    </div>
  </div>
</section>
