<section class="contacts contacts__section" id="contact">
  <div class="container">
    <h2 class="title contacts__title">Contacts</h2>
    <div class="contacts-inner">

      <div class="contacts-inner__follow">

        <div class="contacts-mobile">
          <ul class="contacts-mobile__items">
            <li class="contacts-mobile__item contacts-mobile__item-title">Follow & contact us:</li>
            <li class="contacts-mobile__item contacts-mobile__item-tel">+ (380) 67 400 73</li>
            <li class="contacts-mobile__item contacts-mobile__item-mail">twoointeriors@gmail.com</li>
          </ul>
          <ul class="contacts__social-list contacts__social-list--mobile">
            <li class="contacts__social-item">
              <img class="contacts__social-link" src="../img/svg/insta-white.svg" alt="insta" />
            </li>
            <li class="contacts__social-item">
              <img class="contacts__social-link" src="../img/svg/Be-white.svg" alt="Be" />
            </li>
            <li class="contacts__social-item">
              <img class="contacts__social-link" src="../img/svg/penterest-white.svg" alt="Penterest" />
            </li>
          </ul>
        </div>


        <h5 class="contacts__follow-title">Follow</h5>
        <div class="footer-social">
          <ul class="contacts__social-list">
            <li class="contacts__social-item">
              <img class="contacts__social-link" src="../img/svg/insta-white.svg" alt="insta" />
            </li>
            <li class="contacts__social-item">
              <img class="contacts__social-link" src="../img/svg/Be-white.svg" alt="Be" />
            </li>
            <li class="contacts__social-item">
              <img class="contacts__social-link" src="../img/svg/penterest-white.svg" alt="Penterest" />
            </li>
          </ul>
          <div class="contacts__numbers">
            <div class="contacts__numbers-body">
              <h4 class="contacts__number-title">Contact us:</h4>
              <a class="contacts__number-link contacts__number-link--one"
                href="mailto:twoointeriors@gmail.com">twoointeriors@gmail.com</a> <br>
              <a class="contacts__number-link" href="tel:+3806740073">+ (380) 67 400 73</a> <br>
            </div>
          </div>

          <div class="contacts-follow-wrap__list">
            <ul class="contacts-follow__list">
              <li class="contacts__list-item">Kyiv</li>
              <li class="contacts__list-item">Lviv</li>
              <li class="contacts__list-item">Worldwide</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="contacts-inner__request">
        <h4 class="contacts__request-title">Or send us a request and we will contact you:</h4>
        <button class="contacts__request-btn">
          <picture>
            <source srcset="../img/contacts-request-mob.png" media="(max-width: 480px)">
            <img src="../img/contacts-request.png" alt="">
          </picture>

        </button>
        <div class="contacts__request-wrapper">
          <h5 class="contacts__request-subtitle">For partners</h5>
          <p class="contacts__request-descr"> If you want to work with us, please fill <span> this form</span></p>
        </div>
      </div>
    </div>
  </div>
</section>