<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <a class="footer__logo" href="#">
        <img src="../img/svg/footer-logo.svg" alt="logo" />
      </a>
      <div class="footer-top__inner">
        <ul class="footer-menu__list">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Home</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">About us</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Services</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Gallery</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Contact Us</a>
          </li>
        </ul>
        <div class="footer-social">
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <img
                class="footer__social-link"
                src="../img/svg/insta-white.svg"
                alt="insta"
              />
            </li>
            <li class="footer__social-item">
              <img
                class="footer__social-link"
                src="../img/svg/Be-white.svg"
                alt="Be"
              />
            </li>
            <li class="footer__social-item">
              <img
                class="footer__social-link"
                src="../img/svg/penterest-white.svg"
                alt="Penterest"
              />
            </li>
          </ul>
        </div>
        <div class="footer-partners">
          <h4 class="footer-partners__title">Partners :</h4>
          <a class="footer-partners__link" href="https://maiimo.com"
            >https://maiimo.com</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <p class="footer__bottom-subtitle">© 2022 - 2023 all rights reserved</p>
      </div>
    </div>
  </div>
  <a class="footer-above" href="#home">
  <img  src="../img/above.png" alt="line above">
  </a>
</footer>



<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script defer src="js/main.js"></script>
