<section class="g-project">
  <div class="container">
    <h2 class="title g-project__title "> <span class="interior__title-span"> Interior design / Project </span>/A 11
    </h2>
    <div class="g-project__descr">Here can be a text about this project...</div>

    <div class="g-project-items">
      <div class="g-project__items-item alizarin box" data-background_image="img/galery-all/1.png">
        <img src="/img/galery-all/1.png" alt="">
      </div>
      <div class="g-project__items-item alizarin box" data-background_image="img/galery-all/2.png">
        <img src="/img/galery-all/2.png" alt="">
      </div>
      <div class="g-project__items-item alizarin box" data-background_image="img/galery-all/3.png">
        <img src="/img/galery-all/3.png" alt="">
      </div>
      <div class="g-project__items-item alizarin box" data-background_image="img/galery-all/4.png">
        <img src="/img/galery-all/4.png" alt="">
      </div>
      <div class="g-project__items-item alizarin box" data-background_image="img/galery-all/5.png">
        <img src="/img/galery-all/5.png" alt="">
      </div>
      <div class="g-project__items-item alizarin box" data-background_image="img/galery-all/6.png">
        <img src="/img/galery-all/6.png" alt="">
      </div>
      <div class="g-project__items-item g-project__item-g  alizarin box" data-background_image="img/galery-all/7.png">
        <img src="/img/galery-all/7.png" alt="">
      </div>
      <div class="g-project__items-item g-project__item-g  alizarin box" data-background_image="img/galery-all/8.png">
        <img src="/img/galery-all/8.png" alt="">
      </div>
      <div class="g-project__items-item wisteria hide  box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item wisteria hide box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item wisteria hide  box" data-background_image="img/galery-all/3.png">
      </div>
      <div class="g-project__items-item wisteria hide  box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item wisteria hide  box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item wisteria hide  box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item g-project__item-g  hide  wisteria box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item g-project__item-g  hide  wisteria box"
        data-background_image="img/galery-all/8.png">
      </div>
      <div class="g-project__items-item hide  emerland box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  emerland box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  emerland box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  emerland box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  emerland box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  emerland box" data-background_image="img/galery-all/3.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  emerland box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  emerland box"
        data-background_image="img/galery-all/8.png">
      </div>
      <div class="g-project__items-item hide  sunflower box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  sunflower box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  sunflower box" data-background_image="img/galery-all/3.png">
      </div>
      <div class="g-project__items-item hide  sunflower box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  sunflower box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  sunflower box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  sunflower box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  sunflower box"
        data-background_image="img/galery-all/8.png">
      </div>



      <div class="g-project__items-item hide  item5 box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  item5 box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  item5 box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  item5 box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  item5 box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  item5 box" data-background_image="img/galery-all/3.png">
      </div>

      <div class="g-project__items-item hide  g-project__item-g  item5 box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  item5 box"
        data-background_image="img/galery-all/8.png">
      </div>


      <div class="g-project__items-item hide  item6 box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  item6 box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  item6 box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  item6 box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  item6 box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  item6 box" data-background_image="img/galery-all/3.png">
      </div>

      <div class="g-project__items-item hide  g-project__item-g  item6 box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  item6 box"
        data-background_image="img/galery-all/8.png">
      </div>


      <div class="g-project__items-item hide  item7 box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  item7 box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  item7 box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  item7 box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  item7 box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  item7 box" data-background_image="img/galery-all/3.png">
      </div>

      <div class="g-project__items-item hide  g-project__item-g  item7 box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  item7 box"
        data-background_image="img/galery-all/8.png">
      </div>


      <div class="g-project__items-item hide  item8 box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  item8 box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  item8 box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  item8 box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  item8 box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  item8 box" data-background_image="img/galery-all/3.png">
      </div>

      <div class="g-project__items-item hide  g-project__item-g  item8 box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  item8 box"
        data-background_image="img/galery-all/8.png">
      </div>


      <div class="g-project__items-item hide  item9 box" data-background_image="img/galery-all/4.png">
      </div>
      <div class="g-project__items-item hide  item9 box" data-background_image="img/galery-all/5.png">
      </div>
      <div class="g-project__items-item hide  item9 box" data-background_image="img/galery-all/6.png">
      </div>
      <div class="g-project__items-item hide  item9 box" data-background_image="img/galery-all/1.png">
      </div>
      <div class="g-project__items-item hide  item9 box" data-background_image="img/galery-all/2.png">
      </div>
      <div class="g-project__items-item hide  item9 box" data-background_image="img/galery-all/3.png">
      </div>

      <div class="g-project__items-item hide  g-project__item-g  item9 box"
        data-background_image="img/galery-all/7.png">
      </div>
      <div class="g-project__items-item hide  g-project__item-g  item9 box"
        data-background_image="img/galery-all/8.png">
      </div>
    </div>
  </div>
</section>
