<section class="servises-galery">
  <div class="container servises-container">

    <h2 class="title servises__title servises-galery__title">Galery</h2>

    <div class="servises-galery__wrapper-galery">
      <div class="servises-galery__wrapper-item">
        <div class="servises-galery__wrapper-h3">Interior design</div>
        <div class="servises-galery__img">
          <img src="../img/servis-card1.png" alt="">
        </div>
      </div>
      <div class="servises-galery__wrapper-item">
        <div class="servises-galery__wrapper-h3">Art</div>
        <div class="servises-galery__img">
          <img src="../img/servis-card2.png" alt="">
        </div>
      </div>
      <div class="servises-galery__wrapper-item">
        <div class="servises-galery__wrapper-h3">Products</div>
        <div class="servises-galery__img">
          <img src="../img/servis-card3.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>

