<div class="header" id="home">
  <div class="header-content img-1  ">
    <div class="img1-before img-1"></div>
    <div class="slider-container ">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="img/header-bg.webp" type="image/webp">
            <img src="img/header-bg.jpg" alt="header">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/header-bg2.webp" type="image/webp">
            <img src="img/header-bg2.jpg" alt="header">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/header-bg3.webp" type="image/webp">
            <img src="img/header-bg3.jpg" alt="header">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/header-bg4.webp" type="image/webp">
            <img src="img/header-bg4.jpg" alt="header">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="img/header-bg5.webp" type="image/webp">
            <img src="img/header-bg5.jpg" alt="header">
          </picture>
        </div>
      </div>
      <div class="container slider-navigation">
        <div class="swiper-pagination swiper-p1"></div>
        <div class="swiper-button-next swiperbn1">
          <img src="../img/arrow-left.png" alt="">
        </div>
        <div class="swiper-button-prev swiperbn2">
          <img src="../img/arrow-right.png" alt="">
        </div>
      </div>
    </div>


    <div class="container header-container">
      <div class="header-content-inner">


        <div class="header__title ">
          <img src="../img/header-logo.png" alt="header">
        </div>
        <button class="header__img modal__open-btn">
          <img src="../img/dreams-btn.png" alt="header-btn">
        </button>





      </div>
    </div>
  </div>
</div>
