<div class="modal ">
  <div class="modal__container">
    <form action="" class="modal__form">
      <button class="modal__close" type="button">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M23.9143 27L13.5 16.5857L3.08572 27L0 23.9143L10.4143 13.5L0 3.08572L3.08572 0L13.5 10.4143L23.9143 0L27 3.08572L16.5857 13.5L27 23.9143L23.9143 27Z"
            fill="white" />
        </svg>
      </button>
      <input name="user-name" type="text" class="modal__input" placeholder="*Name">
      <input name="user-email" type="text" class="modal__input _req _email" placeholder="*E-mail">
      <input name="user-phone" type="text" class="modal__input input__mask _req" placeholder="*Phone number">
      <textarea name="user-message" id="" class="modal__area modal__input" placeholder="*Comment"></textarea>
      <button class="modal__btn btn-send">
        <img src="../img/moda-btn.png" alt="send">
      </button>
    </form>
  </div>

</div>
