<section class="prices section__prices">
  <div class="container prices-container">
    <h2 class="title prices__title">Prices</h2>
    <div class="prices-inner">
      <div class="prices-inner__mobile">
        <div class="prices-inner__left">
          <p class="prices__description">
            In order to calculate the cost of your project
            we need to know many different details.
            Each case and order is unique, so you should calculate the price based on personal requests and information.
            In order to get advice - <span class="prices__description-span">send us a request</span> and we will be happy
            to give you advice and answer your questions
          </p>
        </div>
        <button class="prices-inner__btn modal__open-btn">
          <img src="../img/send.png" alt="">
        </button>
      </div>

    </div>
  </div>

</section>
