<section class="process section__process">
  <div class="container">
    <div class="process__wrapper">
      <h2 class="title process__title">Process</h2>

      <div class="process-items">

        <div class="process-items__item">
          <img class="process__item-img" src="../img/process/1.png" alt="">
          <h4 class="process__item-subtitle"> Property finding </h4>
          <p class="process__item-caption">We work closely with a network <br>
            of property finders who understand the value <br>
            of your time no help you find the perfect <br>
            property for your specific needs.</p>
        </div>
        <div class="process-items__item">
          <img class="process__item-img" src="../img/process/2.png" alt="">

          <h4 class="process__item-subtitle"> The client brief </h4>
          <p class="process__item-caption">It all begins with an idea. An initial meeting <br>
            will occur, where we go in depth into how <br>
            you operate and how you would like the <br>
             space to function and feel. We take...
             <span class="process__item-caption--span"> read <br> more...</span></p>

             <div class="process__item-hide">
              <p class="process__item-hide__description">
                It all begins with an idea.. An initial meeting will occur, where we go in depth into how you operate and how you would like the space to function and feel. We take time to fully understand your needs, your lifestyle routines and your personal tastes – to really get to know you. We`ll discuss your vision of the future space, your color, tactile and visual preferences. And also the terms of reference, the budget and determine the timing of the creation of project documentation. We then create a project brief outlining our discussions and how we will work together.
              </p>
                <div class="process__item-hide__close">
                  <button class="process__item-hide__btn">close</button>
                  <img class="process__item-hide__line" src="../img/process-line-accordeon.png" alt="line">
                </div>

            </div>
        </div>
        <div class="process-items__item">
          <img class="process__item-img" src="../img/process/3.png" alt="">

          <h4 class="process__item-subtitle"> Concept</h4>
          <p class="process__item-caption">Once we agreed the brief together, we work <br>
            with you to form the vision of key areas. <br>
            The important point of the concept is the <br>
            planning. Based on the architectural, his ... <br>
            <span  class="process__item-caption--span"> read more...</span></p>
            <div class="process__item-hide">
              <p class="process__item-hide__description">
                Once we agreed the brief together, we work with you to form the vision of key areas. The important point of the concept is the planning. Based on the architectural, historical and technical features of the space, we will offer several of the most suitable plan concepts. We`ll create sketches and mood boards with suggested imagery of key areas, which move towards a design vision document that we`ll share for your approval.
              </p>
                <div class="process__item-hide__close">
                  <button class="process__item-hide__btn">close</button>
                  <img class="process__item-hide__line" src="../img/process-line-accordeon.png" alt="line">
                </div>

            </div>

        </div>
        <div class="process-items__item">
          <img class="process__item-img" src="../img/process/4.png" alt="">

          <h4 class="process__item-subtitle"> Drawing package </h4>
          <p class="process__item-caption">After concept approval we create a detailed <br>
            technical pack of drawings and <br>
            specifications, everything the contractors <br>
            will need to price and eventually   execute <br>
            the ... <span
              class="process__item-caption--span"> read more...</span></p>
              <div class="process__item-hide">
                <p class="process__item-hide__description">

After concept approval we create a detailed technical pack of drawings and specifications, everything the contractors will need to price and eventually execute the project. We will prepare 2D and 3D sketches and visualisations of key design features and spaces. Drawing package contains: floor plans, plans for lighting equipment, engineering networks, plans for the location of plumbing fixtures, all relevant specifications of the furniture and finishes and design bespoke joinery in collaboration with kitchen and bath furniture specialists.
                </p>
                  <div class="process__item-hide__close">
                    <button class="process__item-hide__btn">close</button>
                    <img class="process__item-hide__line" src="../img/process-line-accordeon.png" alt="line">
                  </div>

              </div>

        </div>
        <div class="process-items__item">
          <img class="process__item-img" src="../img/process/5.png" alt="">

          <h4 class="process__item-subtitle"> Accessorising & furnishing </h4>
          <p class="process__item-caption">After concept approval we create a detailed <br>
             technical pack of drawings and <br>
            specifications, everything the contractors <br>
            will need to price and eventually execute <br>
            the ... <span
              class="process__item-caption--span"> read more...</span></p>
              <div class="process__item-hide">
                <p class="process__item-hide__description">
                  For the perfect result we can provide a full specifications of furniture and accessories which beautifully finish the space, ready to move in and enjoy. We have relationships with a wide variety of supplier, artists, craftsmen and artisan teams, allowing us to hand pick bespoke products, off-the-shelf pieces, artwork, sculpture, ceramics. Decorating is one of the most important stages of working with space. Combining elements that have never been combined – that is our force and passion. Our hallmark is a unique laconic style, the distinctive features of which are the architectural vision of the space, clear minimalistic lines, the abundance of air, light scenarios. The use of natural materials and well-designed work with color, design furniture and stunning contemporary artworks to compose a bespoke high-end design.
                </p>
                  <div class="process__item-hide__close">
                    <button class="process__item-hide__btn">close</button>
                    <img class="process__item-hide__line" src="../img/process-line-accordeon.png" alt="line">
                  </div>

              </div>
        </div>
        <div class="process-items__item">
          <img class="process__item-img" src="../img/process/6.png" alt="">
          <h4 class="process__item-subtitle"> Project co-ordination & completion </h4>
          <p class="process__item-caption">We offer an Interior Design coordination <br>
            service, giving you peace of mind <br>
            throughout the construction and <br>
            installation stages of the project.... <span
              class="process__item-caption--span"> read <br> more...</span></p>
              <!-- всплывающая подсказка -->
              <div class="process__item-hide">
                <p class="process__item-hide__description">
                  We offer an Interior Design coordination service, giving you peace of mind throughout the construction and installation stages of the project. This includes liaison with external consultants, contractors and continued coordination with suppliers. This stage can help to reduce costs, delays and disruption that can be caused by any problems that could arise on site.
                </p>
                  <div class="process__item-hide__close">
                    <button class="process__item-hide__btn">close</button>
                    <img class="process__item-hide__line" src="../img/process-line-accordeon.png" alt="line">
                  </div>
              </div>



        </div>

      </div>
    </div>
  </div>
</section>
