<section class="project__section project">
  <div class="container project-container">
    <div class="title project__title">New project</div>
    <div class="project-items">
       <div class="project__items-item">
        <div class="project__items-item__body">
          <h3 class="project__item-title">Meet our new project!</h3>
          <p class="project__item-description">Spacious interior of a house with a panoramic view
           of the forest where modern design
          meets natural materials.
          Location: Kyiv region
          Area: 320 sq.m</p>

          <a class="prokect__item-link" href="">
            <img src="../img/project-more.png" alt="">
           </a>
        </div>


      </div>

        <img class="project__items-item" src="../img/project/3.jpg" alt="">


        <img class="project__items-item" src="../img/project/5.jpg" alt="">


        <img class="project__items-item" src="../img/project/1.jpg" alt="">


        <img class="project__items-item" src="../img/project/2.jpg" alt="">

        <img  class="project__items-item" src="../img/project/6.jpg" alt="">

        <img class="project__items-item" src="../img/project/4.jpg" alt="">

    </div>
  </div>
</section>
