
<section class="servises">
  <div class="container servises-container">

    <h2 class="title servises__title servises__galery-title">GALERY</h2>

    <div class="servises__wrapper servises__wrapper-galery">
      <a class="servises__item" href="../galery.html">
        <div class="servises__h3 servises__h3-active">Interior design</div>
        <div class="servises__img">
          <img src="img/servis-card1.png" alt="">

        </div>

      </a>
      <a class="servises__item" href="../galery.html">
        <div class="servises__h3">Art</div>
        <div class="servises__img">
          <img src="img/servis-card2.png" alt="">
        </div>
      </a>
      <a class="servises__item" href="../galery.html">
        <div class="servises__h3">Products</div>
        <div class="servises__img">
          <img src="img/servis-card3.png" alt="">
        </div>
      </a>
    </div>

  </div>
</section>

